.form-data{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(160, 141, 228);
    margin: 20vh 30vw;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
}

.row{
    display: flex;
    flex-direction: column;
}

.form-heading{
    display: flex;
    justify-content: center;
}

.back-button{
    background-color: rgb(175, 18, 18);
    color:white;
    padding: 0.5rem;
    border: 1px solid rgb(175, 18, 18);
    outline: none;
    border-radius: 0.4rem;
    width: 50%;
    margin-left: 6rem;
    margin-top: 1rem;
}