.form-button{
    background-color: rgb(86, 18, 175);
    color:white;
    padding: 0.5rem;
    border: 1px solid rgb(86, 18, 175);
    outline: none;
    border-radius: 0.4rem;
    width: 50%;
    margin-left: 6rem;
}